<div class="container">
  <%= simple_form_for @product do |f| %>
    <%= f.input :name %>
    <%= f.input :size %>
    <%= f.association :prices, value_method: :currency %>
    <%# <%= f.input :currency, collection: ["dollars", "euros", "pounds"] %>
    <%# <%= f.input :value %>
    <%= f.button :submit %>
  <% end %>
</div>
