<div class="container py-4">
  <%= simple_form_for @product do |f| %>
    <%= f.input :name %>
    <%= f.input :size %>
    <%= f.association :prices, as: :check_boxes, label_method: :label_function, value_method: :id %>
    <%= f.button :submit, class:'default-button' %>
  <% end %>
</div>
